
body {
	background-color: #f9f9f9;
	margin: 0;
	pading: 0;

}
.main {
	display: block;
	width: 966px;
	margin: 0 auto;
	padding: 50px 46px 40px;
	min-height: 700px;
	background-color: white;
}

ul {
	list-style: none; 
	margin: 0;
	padding-left:0;
}

.menu-header{
	margin-top: 1em;
}
.center p {
	width:630px;	
	font-family: OpenSans, sans-serif;
	font-size: 10pt;
	line-height: 16pt;
}



a {
	text-decoration: none;
	font-family: OpenSans, sans-serif;
	
}

.menu-header ul {
	padding: 0.5em 0;

	background: linear-gradient(#5e5e5e, #444343);
	background-size: 100%;
}

.menu-header a {

padding: 1em;
font-size: 11pt;
text-shadow: 1px 1px 10px black;
color: white;
background: 
border:;
}

.menu-header a:hover {
	padding: 0.6em 0;
	background: linear-gradient(#4a4a4a,#2f2f2f);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}


.menu-header li {
	display: inline;
	margin-right: 3.5em;

}

.menu-header li:first-child {
	
	margin-left: 0.8em;

}

.menu-header li:last-child {
margin-right: 0;
}
 


.menu-footer ul {
	padding: 0.6em 0;
	background: #e1e1e1;
}

.menu-footer a {

	padding: 1em;
	font-size: 11pt;
	color: #2c2c2c;
	
}

.menu-footer li {
	font-family: OpenSans, sans-serif;
	color: #2c2c2c;
}

.menu-footer a:hover {
	text-decoration:underline;
}


.menu-footer li {
	display: inline;
	margin-right: 3.5em;

}

.menu-footer li:first-child {
	margin-left: 0.8em;
}

.menu-footer li:last-child {
	margin-right: 0;
	padding-left: 12em;
}

.menu-left {
	padding: 2.5em 0;
	width: 20%;
	float:left;
} 

.menu-left ul {

	border: 	1px solid #c8c8c8;
	border-bottom: 0;
}
.menu-left li {
	padding: 0.8em;
	border-bottom: 	1px solid #c8c8c8;
	padding-left: 1.4em;
	font-family: OpenSans, sans-serif;
	font-size: 10pt;
}

.menu-left a {
	color: #656363;
}

.menu-left a:hover {
	padding: 0.8em;
	padding-right: 1em;
	color: #2c2c2c;
}

.menu-left li:hover {

	background: #f9f9f9;
}


.bicycle {
	float:right;
	width: 630px;
	margin: 60px 0;
}

.bicycle .cntr {
 text-align: center;
 margin-bottom: 30px;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;

}